/EmpresaT.class
/EmpresasT.class
/Encomenda.class
/LinhadeEncomenda.class
/Loja.class
/Lojas.class
/TrazAqui.class
/Utilizador.class
/Utilizadores.class
/Voluntario.class
/Voluntarios.class
/Vendas.class
/LogIn.class
/LogInData.class
/Reader.class
/Parser.class
/Encomendas.class
/Trasporte.class
/Trasnporte.class
/Transporte.class
